<html>
<head>
  <title></title>
</head>
<body>
  <% if (access_token) { %>
    Thank you for signing in with <%= type %>
  <% } else { %>
    No access token
  <% } %>

  <script>
    if ('<%= access_token %>') {
      // hard code alex's chrome extension ID
      addAccessToken('hokomamdpaophpagaonmjhegbdpfpofo');
      // hard code andy's chrome extension ID
      addAccessToken('gijdlknjgpjglibodopkfkbjcfbjmpnd');
    }

    function addAccessToken(extensionID) {
      chrome.runtime.sendMessage(extensionID, {
        access_token : '<%= access_token %>',
        type: '<%= type %>',
      }, (response) => {
        console.log('succcess', response);
      });
    }

  </script>
</body>

</html>
