<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
Thank you for signing in with <%= type %>
</body>
<script>

let extensionID = 'hokomamdpaophpagaonmjhegbdpfpofo';

chrome.runtime.sendMessage(extensionID, { access_token : '<%= access_token %>', type: '<%= type %>' }, (response) => {
    console.log('succcess', response);
});

</script>

</html>
