<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<% if (access_token) { %>
Thank you for signing in with <%= type %>
<% } else { %>
No access token
<% } %>

</body>
<script>

let extensionID = 'gejlaoaoeoipbakbbadldoddahhbbijf';

if ('<%= access_token %>') addAccessToken();

function addAccessToken() {
    chrome.runtime.sendMessage(extensionID, { access_token : '<%= access_token %>', type: '<%= type %>' }, (response) => {
        console.log('succcess', response);
    });    
}

</script>

</html>
